# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
.vs/

# Sensitive configuration files
appsettings.Development.json
appsettings.*.json
!appsettings.json
!appsettings.Example.json
.env
.env.local
.env.*.local
# docker-compose.yaml

# Build output
bin/
obj/
*.dll
*.exe
*.pdb

# Logs
nginx/logs/
*.log

# Python
__pycache__/
uploads/

start-services.sh

slack_alert.sh